<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
	<div fxFlex="20%" class="panelregistroingreso">
		<h1>Registrar entrada</h1>
		<div fxLayout="row">
			<form name="registra_entrada">
				<label>Placa</label>
				<mat-form-field class="md-block"> <input matInput
					placeholder="Ingrese numero de placa"> </mat-form-field>
				<label>Cilindraje(En caso de motocicleta)</label>
				<mat-form-field class="md-block"> <input matInput
					placeholder="Ingrese el cilindraje"> </mat-form-field>
				<button mat-button color="primary">Ingresar</button>
			</form>
		</div>
	</div>
	<div fxFlex="60%" class="panellistadovehiculos">
		<h1 class="md-headline">Lista de Cobros</h1>
	</div>
	<div fxFlex="20%" class="panelregistrosalida">
		<h1 class="md-headline">Registrar salida</h1>
	</div>
</div>