<div class="mat-elevation-z8">
	<mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
	<mat-card> <mat-card-header> <mat-card-title>
	<h1>Lista de Cobros</h1>
	</mat-card-title> </mat-card-header> <mat-card-content> <mat-table
		[style.display]="loading === false ? 'block' : 'none'" #table
		[dataSource]="dataSource" matSort> <mat-header-row
		*matHeaderRowDef="displayedColumns"></mat-header-row> <mat-row
		*matRowDef="let row; columns: displayedColumns;"></mat-row> <ng-container
		matColumnDef="id"> <mat-header-cell *matHeaderCellDef
		mat-sort-header> Id </mat-header-cell> <mat-cell
		*matCellDef="let element"> {{element.id}} </mat-cell> </ng-container> <ng-container
		matColumnDef="placa"> <mat-header-cell
		*matHeaderCellDef mat-sort-header> Placa </mat-header-cell> <mat-cell
		*matCellDef="let element"> {{element.placa}} </mat-cell> </ng-container> <ng-container
		matColumnDef="tipoVehiculo"> <mat-header-cell
		*matHeaderCellDef mat-sort-header> Tipo </mat-header-cell> <mat-cell
		*matCellDef="let element"> {{element.tipoVehiculo}} </mat-cell> </ng-container> <ng-container
		matColumnDef="fechaEntrada"> <mat-header-cell
		*matHeaderCellDef mat-sort-header> Fecha entrada </mat-header-cell> <mat-cell
		*matCellDef="let element"> {{element.fechaIngreso}} </mat-cell> </ng-container> <ng-container
		matColumnDef="operaciones"> <mat-header-cell
		*matHeaderCellDef mat-sort-header> </mat-header-cell> <mat-cell
		*matCellDef="let element">
	<button mat-button color="primary" (click)="deleteCustomer(element)">Salida</button>
	</mat-cell> </ng-container> </mat-table> <mat-paginator #paginator
		[style.display]="loading === false ? 'block' : 'none'" [pageSize]="10">
	</mat-paginator> </mat-card-content> </mat-card>
</div>
